.latestWorkSection.latestWorkSection {
  left: 256px;
  top: 737px;
  width: 927px;
  height: 1087px;
  background-color: #ebebeb00;
  overflow: hidden;
}
.myLatestWork {
  color: #e5e5e5;
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.workCards.workCards {
  width: 1080px;
  height: 874px;
}
.stripe1.stripe1 {
  border-radius: 40px;
}
.workCard.workCard.workCard {
  height: 407px;
}
.image.image.image {
  border-radius: 35px;
  background-image:/* webpackIgnore: true */ url('/assets/image7.jpg');
}
.projectTitle {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.uIArtDrection {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.image2.image2.image2 {
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image8.jpg');
}
.projectTitle2 {
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 20px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.uIArtDrection2 {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.image3.image3.image3 {
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image9.jpg');
}
.projectTitle3 {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.uIArtDrection3 {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.image4.image4.image4 {
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image10.jpg');
}
.projectTitle4 {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.uIArtDrection4 {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 315px;
  height: min-content;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1440px;
  height: 2900px;
  align-items: flex-start;
  background-color: #27592d;
  overflow: hidden;
}
.aseefAliHasan {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 188px;
  top: 118px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 856px;
  top: 118px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.blog {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1089px;
  top: 118px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.contact {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1185px;
  top: 118px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.projects {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 964px;
  top: 118px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image1 {
  position: absolute;
  left: 826px;
  top: 386px;
  width: 366px;
  height: 239px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutMeMyNameIsAseefAliHasanIA {
  position: absolute;
  left: 201px;
  top: 346px;
  width: 571px;
  height: 300px;
  flex-direction: column;
}
.textBlock {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock7 {
  margin-top: 0;
}
.labelWrapper5 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label9 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label10 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.myTechStackPythonJavaSQLHTMLCS {
  position: absolute;
  left: 205px;
  top: 1815px;
  width: 1042px;
  height: 183px;
  flex-direction: column;
}
.textBlock8 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
}
.labelWrapper6 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label11 {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle3810 {
  position: absolute;
  left: 187px;
  top: 1872px;
  width: 1065px;
  height: 112px;
  border-radius: 37px;
  background-color: #1d382080;
}
.image22 {
  position: absolute;
  left: calc(50% - -411.2743px);
  top: calc(50% - -1380.6283px);
  width: 66.5487px;
  height: 67.2566px;
  background-image:/* webpackIgnore: true */ url('/assets/image22.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.image32 {
  position: absolute;
  left: 1191.4513px;
  top: 2797.708px;
  width: 66.5487px;
  height: 66.5487px;
  background-image:/* webpackIgnore: true */ url('/assets/image32.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogILikeMoviesThinkingAboutTh {
  position: absolute;
  left: 205px;
  top: 2059px;
  width: 1035px;
  height: 281px;
  flex-direction: column;
}
.textBlock13 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
}
.labelWrapper7 {
  font-size: 18px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label12 {
  color: #e5e5e5;
  font-size: 18px;
  line-height: 32px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.image5 {
  position: absolute;
  left: 752px;
  top: 2181px;
  width: 495px;
  height: 279px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image52.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whyHer2013IsTheBestMovieEver {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15.1389%;
  right: 58.8889%;
  top: 85.6552%;
  bottom: 13.3103%;
  flex-direction: column;
}
.yeahISaidItIMakeTheRules {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15.1389%;
  right: 62.9861%;
  top: 87.0345%;
  bottom: 12.0345%;
  height: min-content;
  flex-direction: column;
}
.whyItsReallyHardToGetAnInterns {
  color: #e5e5e5;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52.2917%;
  right: 18.1944%;
  top: 85.8966%;
  bottom: 13.069%;
  flex-direction: column;
}
.iHavenTGottenOneYet {
  color: #e5e5e5;
  font-size: 17px;
  line-height: 27px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52.2917%;
  right: 25.8333%;
  top: 87.2759%;
  bottom: 11.7931%;
  height: min-content;
  flex-direction: column;
}
.image42 {
  position: absolute;
  left: 200px;
  top: 2183px;
  width: 495px;
  height: 279px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/image42.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ellipse693 {
  position: absolute;
  left: 1247px;
  top: 608px;
  width: 808px;
  height: 650px;
  overflow: visible;
  filter: blur(200px);
}
.icon {
  width: 100%;
  height: 100%;
}
.ellipse695 {
  position: absolute;
  left: 1px;
  top: 2715px;
  width: 808px;
  height: 650px;
  overflow: visible;
  filter: blur(200px);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse694 {
  position: absolute;
  left: 129px;
  top: -453px;
  width: 808px;
  height: 650px;
  overflow: visible;
  filter: blur(200px);
}
.icon3 {
  width: 100%;
  height: 100%;
}
